.container{
    display: grid;
    grid-template-columns:4fr 4fr 4fr ;
    gap: 20;

}
img{
    width: 200px;
    height: 400px;
}
.buy-page {
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    margin-top: 80px;
    margin-right: 20px;
    padding-right: 70px;
}